##################################################################

# Learn about CODEOWNERS file format:
# https://help.github.com/en/articles/about-code-owners
#

# Default owners for everything in the repo
* @lara-newsom

/src/** @core-team